<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CONTACT US</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="/css/stylescontact.css" th:href="@{/css/stylescontact.css}">
</head>
<body>
	<div class="form-container">
		<form class="contact-form">
			<h2>Contact</h2>
			<input type="text" id="name" placeholder="Full Name"><br>
			<input type="email" id="email" placeholder="Email"><br>
			<input type="text" id="number" placeholder="Phone number"><br>
			<input type="test" id="subject" placeholder="Subject"><br>
			<textarea id="message" cols="30" rows="5" placeholder="Message"></textarea>
			<br> <input type="submit" class="submit" value="Send Message">
		</form>
	</div>
	<script src="js/app.js"></script>
</body>


</html>
