mark { background-color:pink; }

.list-autocomplete {
  padding:0; }
.list-autocomplete em {
  font-style:normal;
  background-color:#e1f2f9;
}

.hasNoResults { 
  color:#aaa; }
.hasNoResults,
.btn-extra { 
  display:block; 
  padding:10px; }

.hasNoResults { 
  color:#aaa; }

.btn-extra { 
  width:100%; 
  border-top:.5px solid #d2d2d2; }

