@font-face {
    font-family: "advent-pro";
    src: url("../fonts/nribms-advent-pro-extra-light.ttf");
}

body {
    background-image: url("/img/wave-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
}



#reserve-btn {
    color: aliceblue;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#reserve-btn:hover {
    background-color: aliceblue;
    color: #1F2D5A;
    transition: .8s ease;
    border-color: aliceblue;
}